{
	process.env.strName = 'test';
	
	process.env.intCapacity = 8;
	
	process.env.strMotd = 'nothing yet';
}

{
	process.env.boolExpress = true;
	
	process.env.intExpressPort = 15897;
	
	process.env.boolExpressUpload = false;
	
	process.env.strExpressSession = '';
	
	process.env.strExpressSecret = '';
}

{
	process.env.boolHypertextminfier = true;
}

{
	process.env.boolMime = true;
}

{
	process.env.boolMustache = true;
}

{
	process.env.boolSocket = true;
	
	process.env.intSocketPort = 15897;
}