{
	process.env.strName = 'voxel-warriors'; // name of the server, which is being displayed in the server browser
	
	process.env.strLoginPassword = ''; // password, that is required in order to join the game
	process.env.strLoginMotd = ''; // message of the day, which is being displayed within the game
	
	process.env.strMapActive = 'mapBasic'; // active map, that is being loaded when the server starts
	
	process.env.intPhaseRemaining = 3 * 60; // duration of each phase
	process.env.intPhaseRound = 3; // number of total rounds per game
	
	process.env.intPlayerCapacity = 8; // player capacity, that limits the number of connected players
}